body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, #root {
  background: #F4F4F5;
}


h4{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #18181B;
}

h5{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400!important;
  font-size: 1rem!important;
  color: #71717A;
}

div.render-panel{
  border: 1px solid #ECECEE;
  border-radius: 0px 11.2px 11.2px 0px!important;
}

div.table-border{

  border-left: 1px solid #ECECEE;
  border-bottom: 1px solid #ECECEE;
  /* border: 1px solid #ECECEE; */
  border-radius: 0px;
  background-color: white;
}

div.clickable:hover{
  cursor: pointer;
  background-color: #f9f9f9;
}

p.preview-text{
  max-height: 70px;
  overflow: hidden;
}


li.rounded-pills{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #71717A;

  padding: 5px 15px;
  margin-right: 10px;
  background: #F4F4F5;
  border-radius: 50px;
  
  margin-bottom: 10px;
}

p{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #71717A;
}


img.logo{
  height: 20px;
  width: auto;
}

div.logo-bg{

  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

  height: 60px;
  width: 60px;
  background: #F4F4F5;
  border-radius: 11.2px;
}

.isLoading div.card, .isLoading i{
  display: none;
} 


/* .isLoading h6 */

.isLoading p,.isLoading h5,.isLoading h4, .isLoading li{
  color: transparent;
  background: linear-gradient(to right, #f2f2f2 0%, #e6e6e6 50%, #f2f2f2 100%);
  animation: loadingShine 0.5s infinite;
}

@keyframes loadingShine {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}


.card{
  /* border: none!important;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  border-radius: 5px; */




  background: #FFFFFF;
  border: 1px solid #F1F1F1!important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  /* box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.08); */
  border-radius: 8px;
}

span {
  color: #666666;
}

.btn.btn-primary{
  background: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  color: white;
}


.btn.btn-secondary{
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  color: #666666;
}

h6{
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 600!important;
  font-size: 20px!important;
  color: rgba(0, 0, 0, 0.9);
}

img.profile-image{
  border-radius: 100%;
  width: auto;
  height: 50px;
}

img.profile-image.filtered{
  filter: grayscale(1);
}


a.profile-image + a.profile-image {
  margin-left: -45px; /* Adjust the negative margin to control the overlap */
}


img.profile-image + img.profile-image {
  margin-left: -45px; /* Adjust the negative margin to control the overlap */
}

div.search-results-banner{
  background-color: #0A66C2;
  color: white;
}

